<div id="view-feed-container">
<h1><%= @feed.name %></h1>
<div class="main-layout-right">
<% @articlesByDate.each_key do |date| %>
 <% if @articlesByDate[date].length > 0 %>
    <h2><%= date %></h2>
    <% @articles = @articlesByDate[date] %> 
      <ul>
         <% @articles.each do | article| %> 
          <a href="<%= article_url(article) %>" target="_blank">
         <li class="read-<%=article.read %> article-viewer">          
           <h3><%= article.title %></h3> 
          <p><%= article.description %></p>
          </li>
           </a>
         <% end %> 
     </ul>
    <% end %>
<% end %> 
</div>
<div class="main-layout-left">
  <h2>Other Feeds</h2>
  <ul>
    <% @allFeeds.each do | feed | %>
      <a href="<%= edit_feed_url( feed )%>" >
         <li><%= feed.name %></li>
      </a>
   <% end %>
  </ul>
</div>
</div>
