<h1>Add New Feed</h1>
<%= form_tag feeds_url, method:"post" do %>
    <%= text_field_tag "feed_url", nil,  size: "100px" %> <br/><br/>
    <%= submit_tag "Read" %> 
<% end %>
<hr />
<% unless @feeds.empty? %>
    <% @feeds.each do | feed | %>
         <h2><%=feed.name %></h2>
         <ul>
           <% feed.articles[0..6].each do | article | %>
             <li>
                 <h3><%= link_to article.title, article.link, target: "_blank" %></h3>
                 <p><%= article.description %> </p>
             </li>
          <% end %>
         </ul>
    <% end %>
<% else %> 
    <p> Add a feed above</p>
<% end %> 