<div id="login-content">
  <header>
    <h1>Simplicity RSS Reader</h1>
  </header>
  <main>
      <%= form_tag process_login_url, method: "post" do %> 
        <%= username_field %>
        <%= password_field %>
        <%= submit_button "Login" %>
      <% end %>
      <p>Don't have an account? <%= link_to "Sign Up", new_user_url %></p> 
  </main>
</div>
