<div id="login-content">
  <header>
    <h1>Simplicity RSS Reader</h1>
  </header>
  <main>
    <%= form_tag users_path, method: "post" do %>
       <%= username_field %>
       <%= password_field %>
       <%= password_confirm_field%> 
       <%= email_field  %>
       <%= submit_button "Sign Up" %>
    <% end %>  
     <p>Already have an account? <%= link_to "Sign In", login_user_url %></p> 
  </main>
</div>
