<div id="login-content">
  <header>
    <h1>Simplicity RSS Reader</h1>
  </header>
  <main>
     <%= form_tag user_url(@current_user), method: "patch" do %> 
        <p>Change Password Below</p>
        <%= text_field_tag "password", nil, type:"password", placeholder: "New Password"%> 
        <p>Current Email: <%= @current_user.email %></p>
        <%= text_field_tag "email", nil, placeholder: "New Email"%> 
        <br/><br/><br/><br/><br/><br/>
        <%= text_field_tag "password_confirmation", nil, type:"password", placeholder: "Current Password"%> <br/>
        <%= submit_button "Submit Changes" %> 
     <% end %> 
  </main>
</div>
