<!DOCTYPE html>
<html>

<head>
  <title>RssReader</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-16">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <style>
           
          </style>
</head>

<body>

  <input id="user" type="hidden" data-check-login="<%= !getLoggedUser.nil? %>">
  <% unless getLoggedUser.nil? %>
   <input id="userBackground" type="hidden" data-user-background="<%= asset_path getLoggedUser.background %>">
  <% end %>
  <nav>
    <!-- Brand -->
    <ul>
      <% if getLoggedUser %>

        <li class="brand">
          <%= link_to "Simplicity RSS Reader", "/" %>
        </li>
        <li>
          <%= link_to "#{getLoggedUser.username.capitalize}'s Account", user_url(getLoggedUser) %>
        </li>
        <li>
          <%= link_to "Sign Out", logout_user_url %>
        </li>
        <% else %>
          <li class="brand">
            <%= link_to "Simplicity RSS Reader", "/" %>
          </li>
    </ul>
    <% end %>
      <!-- Links -->
  </nav>

  <% if flash %>
    <p id="flash-alert">
      <%= flash[:alert] %>
    </p>
    <% end %>

      <%= yield %>
</body>

</html>