<!DOCTYPE html>
<html>

<head>
  <title>RssReader</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
          <style>
           
          </style>
</head>

<body>


  <nav>
    <!-- Brand -->
    <ul>
      <% if getLoggedUser %>

        <li class="brand">
          <%= link_to "Simplicity RSS Reader", "/" %>
        </li>
        <li>
          <%= link_to "View Account", user_url(getLoggedUser) %>
        </li>
        <li>
          <%= link_to "Sign Out", logout_user_url %>
        </li>
        <% else %>
          <li class="brand">
            <%= link_to "Simplicity RSS Reader", "/" %>
          </li>
    </ul>
    <% end %>
      <!-- Links -->
  </nav>

  <% if flash %>
    <p id="flash-alert">
      <%= flash[:alert] %>
    </p>
    <% end %>

      <%= yield %>
</body>

</html>